/*@font-face {
  font-family: "Authentic Sans";
  src: url("../assets/fonts/AUTHENTICSans-90.woff") format("woff"),
       url("../assets/fonts/AUTHENTICSans-90.woff2") format("woff2");
}
*/
@font-face {
  font-family: "Hershey";
  src: url("../fonts/Hershey-Noailles-Futura-Simplex-Light.woff") format("woff");
}

body {
	font-family: "Hershey";
	background: beige;
}


#container {
	padding: 40px;
}